
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat";
    font-family: DM sans;
    padding: 0;
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px 60px;
  
}

.header ul{
 display: flex;
 font-size: 20px;
 gap: 60px;
list-style: none;
 
}
.signupBtn{
   border: 2px #204E51 solid;
    padding: 12PX 30PX;
    font-size: 25px;
    color:  #204E51;
    margin-left: 10px;
    border-radius: 8px;
    
}

.loginBtn{
    font-size: 25px;
    border: none;
    background-color: #204E51;
    padding: 12px 30px;
    font-size: 28px;
  border-radius: 8px;
   color: white;
   
}
.hero{
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-size: 100% 550px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/premium-photo/farming-field-background_483949-22301.jpg?w=740");
}
.hero h1{
    padding-top:100px;
  color: white;
  font-size: 80px;
  font-weight: bold;
    

}
.hero p{
    margin-bottom: 60px;
    margin-top: 20px;
    }
#learnBtn{
    background-color: transparent;
    color: white;
    border: 2px white solid;
    
}
#getBtn{
    background-color: rgb(85, 121, 121);
}

.passion-parent{
    display: flex;
   margin-top: 130px;
   margin-bottom: 100px;
   justify-content: space-around;

}
 .passion-left , .passion-rigth{
  width: 500px;

 }
 .passion-right img{
    border-radius: 20px;
    width: 500px;
    height: 600px;
 }
.passion-parent h1{
    color: #204E51;
    font-size: 70px;
    font-weight: bold;
}
.passion-left p{
   
    margin-bottom: 20px;
}
.passion-parent button{
    background-color: #204E51;
    font-size: 40PX;
    border-radius: 7PX;
    border: none;
    color: white;
    padding: 10px;

}
.passion-right{
    position: relative;
}
.passion-right p{
    position: absolute;
   background-color: rgb(238, 222, 203);
   width: 190px;
   font-size: 40px;
   border-radius: 10px;
   bottom: 70px;
   left: 140px;
   padding: 20px;
}

.service1{
   
    border-radius: 20px;
    text-align: center;
    background-color: rgb(236, 101, 101);
    margin: 10px;
    width: 280px;
    height: 250px;
    padding: 30px;
}
.service-parent{
   
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.service{
    background-color: rgb(255, 255, 255);
    margin: 60px;
  text-align: center;
}
.service p{
   
    font-size: 25px;
    margin: 20px 20px;

}

.product-parent{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 40px;
    
}
.product1{
    border-radius: 22px;
    width: 100%;
    height: 530;
    margin: 30px 10px;
    background-color: rgb(168, 203, 233);
    
}
.product{
    text-align: center;
}

.product h1{
   
    font-size: 50px;
    padding: 20px;
}

.product1 img{
margin-top: 40px;
    width:200px;
    height: 200px;
    /* padding-top: 40px; */
   
    border-radius: 18px;
}
.product1 h1{
    
    padding: 20px 10px;

}
.product1 p{
    line-height: 25px;
    padding: 20px;
}

.sustain{
    padding: 30px;
    height: 470px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/premium-photo/farming-field-background_483949-22301.jpg?w=740");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    color: white;
}
.sustain h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.benefit-parent{
    display: flex;
    justify-content: space-around;
}

.benefit-right{
    width: 600px;
    height: 650px;
    background-color: #204E51;
    border-radius: 20px;
    color: white;
} 
.benefit-left{
    margin-top: 100px;
    width: 400px;
}
.benefit-left h1{
    font-size: 65px;
}
.benefit-left p{
    
    padding: 10px;
}

.icon-parent{
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
   align-items: center;
    gap: 60px;
   
}
.icon-parent i{
    font-size: 60px;
}
.icon-parent h1{
    margin-top: 10px;
    font-size: 50px;
}
.testimonials{
   margin: 5%;
    text-align: center;
}
.testimonials h1{
    color: #204E51;
    font-size: 60px;
}
.testimonials-parent{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 6%;
   margin-right: 6%;
    background-color: #204E51;
    color: white;
height: 450px;
width: 100%;
    display: flex;
    border-radius: 18px;
}
.testimonials-left img{
    height: 300px;
    width: 350px;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 18%;
    margin-top: 25%;
    border-radius: 18px;
}
.testimonials-right{
    margin-left: 10%;
    margin-top: 8%;
}
.testimonials-left i{
  top: 100%;
}
.testimonials-right i{
    /* display: flex; */
    color: gold;
    margin-bottom: 2%;
    padding: 12px;
}
.testimonials-right p{
   padding-top: 10px;
   padding-bottom: 20px;
}

.testimonials-parent icon{
    color: #204E51;
}
.feature{
    margin-top: 60px;
    margin-bottom: 2%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 20px;
    height: 650px;
    
    
}
.feature1{
    border-radius: 22px;
    
    height: 530;
   
    
}

.feature1 img{
    
        width: 100%;
        height: 500px;
        border-radius: 16px;
} 
 .feature1 a{
    font-size: 20PX;
    color: #7C4EE4;
    padding-bottom: 40px;
    
   
    
}  
.feature1 h1{
    padding-top: 20px;

}
.feature1 p{
  padding-top: 10px;
    display: flex;
  gap: 10px;
}
span2{
    color: grey;

}

.footer{
    width: 100%;
    height: 500px;
    background-color: #204E51;
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.left, .right, .right2{
    margin-top: 120px;
}
.left i{
    color: #204E51;
    background-color: white;
   margin: 5px;
    font-size: 25px;
    gap: 50px;

}
.left p{
    padding-top: 20px;
    padding-bottom: 30px;
}

.right2 p{

    padding: 10px 10px;
    line-height: 13px;
}
.right p{
    padding: 10px 10px;
    line-height: 13px;
}
.right h1 , .right2 h1{
    padding-bottom: 10px;
}
.final{
    height: 100px;
    background-color: white;
}
#menuIcon{
    display: none;
}
.review-parent{
    margin: 100px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 100px 800px 100px;
}

.review-center{
    border-radius: 12px;
    background-color: #204E51;
    width: 800px;
    height: 350px;
}
.review-left i{
    font-size: 120px;
    width: 80px;
    height: 80px;
}
.review-right i{
    font-size: 120px;
    width: 80px;
    height: 80px;
}
.comment-parent{
    margin: 50px;
    display: flex;
    gap: 50px;
    color: white;
}
.comment-parent img{
    width: 800px;
    height: 200px;
    border-radius: 12px;
}
  .comment-parent i{
    color: gold;
      font-size: 15px; 
    padding: 5px; 
    /* margin-bottom: 5px;  */

} 
.comment-parent h1,p{
    padding: 5px;
} 



@media screen and (max-width: 600px){
    .header ul{
        display: none;
    }
    .btn{
        display: none;
    }
    #menuIcon{
        display: block;
        font-size: 40px;
    }
    .header h1{
        font-size: 24px;
    }.header{
        padding: 12px;
        
    }
    .hero h1{
        font-size: 28px;
    }
    .hero{
        padding: 10px 30px;
    }
    #getBtn{
        margin-bottom: 20px;
         /* margin-right: 40px;  */
         padding: 16px 25px; 
       
}
.passion-parent{
    flex-direction: column;
    margin: 20px;
}
.passion-left, .passion-right{
    width: 300px;
}
.passion-left h1{
    font-size: 20px;
}.passion-right img{
    margin-top: 20px;
    width: 330px;
    height: 400;
}
.passion-right p{
    text-align: center;
   bottom: -3%;
   padding: 15px 15px;
   font-size: 30px;
   left: 18%;
  

}
.service p{

    margin: 50px 18px;
    font-size: 16px;
}

.service-parent{
    flex-direction: column;
    margin-right: 50px;
}
.service1{
    margin-left: 10px;
    height: 200px;
    width: 200px;
}
.product h1{
    font-size: 16px;
    margin-bottom: 20px;
}
.product-parent{

    grid-template-columns: 300px;
    row-gap: 20px;

}
.sustain h1{
    font-size: 30px;
}
.benefit-parent{
    flex-direction: column;
}
.benefit-left h1{
    padding: 15px 15px;
    font-size: 30px;
    margin-bottom: 20px;
}
.benefit-left button{
    margin-bottom: 20px;
}
.benefit-left p{
    font-size: 16px;
    padding: 10px 10px;
}
#BTN{
    margin: 20px;
}
.benefit-right{
    width: 350px;
    margin-left: 20px;
}
.feature{
    grid-template-columns: 300px;
    gap: 40px;
}
.testimonials-parent{
    width: 350px;
    height: 350px;
}
.testimonials-left img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    margin-bottom: 0;
}

.testimonials-right p{
    padding: 5px;
}
 .testimonials-parent i{
    margin: 0;
    padding: 5px;
} 
.testimonials-right h1{
    padding: 5px;
    font-size: 12px;
}
.testimonials-right p{
    font-size: 14px;
}
 .footer{
    margin-top: 450%;
   
} 
.left h1{
    padding-left: 12px;
    padding-top: 12px;
} 
 .left i{
   
} 
.benefit-left
  .footer h1,p{
    padding-top: 10px;
padding-left: 12px;
}
 .right{
    padding: 12px;
}
.right2{
    padding-top: 12px;
}   
.review-left{
    width: 100px;
    height: 30px;
} 
.review-rigth{
    width: 100px;
    height: 30px;
} 
.review-center{
    width: 350px;
    height: 180px;
    margin: 0;
    padding: 0;

}
.comment-parent img{
    margin: 0;
    width: 150px;
   height: 100px;
   margin-top: 15px;
   border-radius: 4px;
}
.comment-parent i{
    font-size: 12px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}
.comment-parent{
    margin: 4px;
    padding: 0;
    gap: 8px;

}
.review-parent{
    grid-template-columns: 50px 320px 100px;
    gap: 20px;
    justify-content: start;
    margin: 0;
}
.comment-parent h1{
    font-size: 15px;

}
.comment-parent p{
   padding: 0;
    font-size: 8px;

}

}   


